.panel-heading {
    padding: 0;
    border: 0;
}
.panel-title>a,
.panel-title>a:active {
    display: block;
    padding: 0.8rem;
    color: var(--brownish-grey-two);

    font-weight: 500;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:before {

    content: "⌃";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}